// import the Montserrat font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

$spacer: 1rem;
$dark: #312d2d;
$yellow: #e1be5f;

$theme-colors: (
    "yellow": $yellow,
    "dark": $dark,
);

$navbar-light-toggler-icon-bg: url("/img/Menu.svg");
$navbar-dark-toggler-icon-bg: url("/img/Menu.svg");
$navbar-light-toggler-border-color: #fff;
$navbar-dark-toggler-border-color: #fff;

// scss-docs-start form-input-variables
$input-font-family: "Montserrat";
$input-font-size: 14px;
$input-font-weight: 400;

$input-border-color: rgba(49, 45, 45, 0.5);
$input-border-width: 1px;
$input-box-shadow: null;

$input-border-radius: 0;

$input-placeholder-color: rgba(49, 45, 45, 0.5);
$input-plaintext-color: $dark;

$input-height: 27px;

$input-btn-focus-width: null;
$input-btn-focus-color-opacity: null;
$input-btn-focus-color: null;
$input-btn-focus-blur: null;
$input-btn-focus-box-shadow: null;

// scss-docs-end form-input-variables

form .form-control {
    width: 100%;
    padding: 0;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid rgba(49, 45, 45, 0.5);
}

form .form-control:focus {
    border-color: rgba(49, 45, 45, 0.5);
    box-shadow: none;
}

form .form-control::placeholder {
    line-height: 17.07px;
    box-shadow: none;
}

// Breadcrumbs

// scss-docs-start breadcrumb-variables
$breadcrumb-font-size: 14px;
$breadcrumb-padding-y: 0 !default;
$breadcrumb-padding-x: 0 !default;
$breadcrumb-item-padding-x: 3.67px;
$breadcrumb-margin-bottom: 0;
$breadcrumb-bg: null !default;
$breadcrumb-divider-color: $dark;
$breadcrumb-active-color: $dark;
$breadcrumb-divider: quote("/") !default;
// $breadcrumb-divider-flipped:        $breadcrumb-divider !default;
$breadcrumb-border-radius: null !default;
// scss-docs-end breadcrumb-variables

nav .breadcrumb {
    line-height: 17px;
}

@media screen and (min-width: 768px) {
    nav .breadcrumb {
        display: flex;
    }
}

.breadcrumb-item > a {
    color: rgba(49, 45, 45, 0.5);
}

// Dropdowns

$dropdown-min-width: 11.5625rem;
$dropdown-padding-x: 0;
$dropdown-padding-y: 0.5rem;
$dropdown-spacer: 0.125rem;
// $dropdown-font-size:                $font-size-base;
// $dropdown-color:                    var(--#{$prefix}body-color);
// $dropdown-bg:                       var(--#{$prefix}body-bg);
// $dropdown-border-color:             var(--#{$prefix}border-color-translucent);
$dropdown-border-radius: 0;
$dropdown-border-width: 0;
// $dropdown-inner-border-radius:      calc(#{$dropdown-border-radius} - #{$dropdown-border-width}); // stylelint-disable-line function-disallowed-list
// $dropdown-divider-bg:               $dropdown-border-color;
// $dropdown-divider-margin-y:         $spacer * .5;
// $dropdown-box-shadow:               0 0 4px 0 rgba(0, 0, 0, 0.25);

// $dropdown-link-color:               var(--#{$prefix}body-color);
// $dropdown-link-hover-color:         $dropdown-link-color;
// $dropdown-link-hover-bg:            var(--#{$prefix}tertiary-bg);

$dropdown-link-active-color: #312d2d;
$dropdown-link-active-bg: null;

// $dropdown-link-disabled-color:      var(--#{$prefix}tertiary-color);

// $dropdown-item-padding-y:           $spacer * .25;
// $dropdown-item-padding-x:           $spacer;

// $dropdown-header-color:             $gray-600;
// $dropdown-header-padding-x:         $dropdown-item-padding-x;
// $dropdown-header-padding-y:         $dropdown-padding-y;
// fusv-disable
// $dropdown-header-padding:           $dropdown-header-padding-y $dropdown-header-padding-x; // Deprecated in v5.2.0
// fusv-enable

.dropdown-menu {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

// setting up the grid
$grid-gutter-width: 1.25rem;

// custom styles
$body-color: #312d2d;
$font-family-base: "Montserrat", sans-serif;
$navbar-brand-padding-y: 0;
$container-padding-x: 0;
$paragraph-margin-bottom: 0;
$h2-font-size: 64px !important;

// card
$card-spacer-y: null;
$card-spacer-x: null;
$card-title-spacer-y: 7px;
$card-title-color: null !default;
$card-subtitle-color: null !default;
$card-border-width: none;
$card-border-color: none;
$card-border-radius: none;
$card-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
$card-inner-border-radius: none;
$card-cap-padding-y: 100px;
$card-cap-padding-x: $card-spacer-x !default;
$card-cap-bg: null;
$card-cap-color: null !default;
$card-height: 585px;
$card-color: null !default;
$card-bg: #fafafa;
$card-img-overlay-padding: $spacer !default;
$card-group-margin: $grid-gutter-width * 0.5 !default;

// card
.card {
    background: #fafafa;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.card .card-body {
    padding: 19px 24px 30px;
    line-height: normal;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.72px;
}

.card-text {
    font-size: 14px;
    text-align: left;
    letter-spacing: 0.63px;
    margin-bottom: 30px;
}

.card-price {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.72px;
    margin-bottom: 35px;
}

// btn
$btn-padding-y: 15px;
$btn-padding-x: 41px;
$btn-font-family: "Montserrat", sans-serif;
$btn-font-size: 16px;
$btn-line-height: normal;
$btn-border-width: 1px;
$btn-font-weight: 400;
$btn-box-shadow: none;
$btn-border-radius: 0;

.btn {
    text-align: center;
}

.btn-dark {
    border: none;
}

.btn:hover {
    --bs-btn-hover-bg: #312d2d;
    --bs-btn-hover-border-color: #312d2d;
    opacity: 0.7;
    --bs-btn-focus-shadow-rgb: none;
}

.btn:active {
    --bs-btn-active-bg: #312d2d;
    --bs-btn-active-shadow: none;
    opacity: 0.7;
}

$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    n: $spacer * 5.375,
    ftop: 24px,
    fbottom: 77px,
    fbetween: 96px,
    fdtop: 45px,
    fdbottom: 136px,
    ddt: 20px,
    ddb: 27px,
    card: 30px,
);

$grid-breakpoints: (
    xs: 0,
    sm: 358px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

$container-max-widths: (
    xs: 358px,
    sm: 360px,
    md: 720px,
    lg: 960px,
    xl: 1170px,
);

$font-sizes: (
    1: 14px,
    2: 16px,
    3: 18px,
);

$navbar-padding-y: $spacer * 1.5625;

// import bootstrap
// @import "../bootstrap/scss/functions";
@import "../bootstrap/scss/bootstrap.scss";

.nav-link {
    color: #312d2d;
}

footer p:not(:last-child) {
    margin-bottom: 17px;
}

.navbar .dropdown-menu li:not(:last-child) .dropdown-item {
    margin-bottom: 15px;
}

.navbar .dropdown-item {
    line-height: 1.215;
}

header.container-fluid {
    border-bottom: 1px solid rgba(49, 45, 45, 0.5);
}

a {
    text-decoration: none;
}

.btn-yellow {
    color: #fff;
    background-color: #e1be5f;
}

.btn.btn-yellow:hover,
.btn.btn-yellow:focus,
.btn.btn.btn-yellow:active,
.btn.btn-yellow:visited {
    color: #fff;
    background-color: #e1be5f;
    opacity: 0.7;
}
