nav .breadcrumb {
    margin-top: 41px;
    margin-bottom: 60px;
}

main > div:nth-child(2 of div.container) {
    margin-bottom: 148px;
}

main > div:nth-child(2 of div.container) h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    margin-bottom: 50px;
}

main > div:nth-child(2 of div.container) .row {
    margin: 0;
}

main > div:nth-child(2 of div.container) .col-12 {
    padding: 25px 25px 25px 20px;
    margin-bottom: 45px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

#cart .cart-items {
    padding: 0;
}

#cart .cart-items .col-12:last-child {
    margin-bottom: 65px;
}

.purchase {
    display: flex;
}

.purchase .img-fluid {
    margin-right: 30px;
    width: 75px;
    height: 100px;
}

.purchase .del {
    margin-left: auto;
}

.purchase table {
    text-align: right;
    display: inline;
}

.purchase thead {
    color: #312d2d;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.purchase th {
    align-content: baseline;
    padding: 0;
    padding-bottom: 30px;
}

.purchase tbody {
    margin-top: auto;
}

.purchase td {
    padding: 0;
    align-content: end;
}

.purchase th:nth-child(2),
.purchase td:nth-child(2) {
    width: 82px;
}

.purchase th:nth-child(3),
.purchase td:nth-child(3) {
    width: 233px;
}

.purchase th:nth-child(4),
.purchase td:nth-child(4) {
    width: 225px;
}

.purchase th:nth-child(5),
.purchase td:nth-child(5) {
    width: 173px;
}

.cost {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.btn {
    padding: 15px 48px;
}

.btn-yellow {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#cartItems .container.text-md-end {
    margin-top: 60px;
    margin-bottom: 148px;
}

.product-control {
    display: flex;
    width: fit-content;
    max-width: 100%;
    min-width: 80px;
    height: 21px;
    margin-left: auto;
    padding-left: 0 !important;
    font-size: 14px;

    border: calc(0.5em / 14) solid #312d2d80;
    color: #312d2d;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 17px;
    text-align: center;
}

.product-quantity {
    display: inline-block;
    padding: 2px 10px;
    min-width: 40px;
    height: 100%;
    border-left: 0.5px solid #312d2d80;
    border-right: 0.5px solid #312d2d80;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    vertical-align: text-bottom;
}

.product-operation {
    padding: 0;
    margin: 0;
    width: 19px;
    height: 100%;
    border: none;

    color: #312d2d;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;

    background-color: transparent;
}

.product-operation:active {
    background-color: #312d2d;
    opacity: 0.7;
}

.grid {
    display: grid;
    row-gap: 28px;
    grid-template-columns:
        minmax(1%, 312px) minmax(1%, 234px) minmax(1%, 164px) minmax(1%, 165px)
        minmax(1%, 150px);
    grid-template-rows: repeat(2, max-content);
    line-height: 1;
}

@media screen and (max-width: 767px) {
    .grid {
        row-gap: 0;
        grid-template-columns: minmax(1%, 197px) 16px;
        grid-template-rows: max-content 16px max-content 27px max-content;
    }

    .product-control {
        margin-left: 0;
    }

    main > div:nth-child(2 of div.container) .col-12 {
        margin-bottom: 40px;
    }

    #cart .cart-items .col-12:last-child {
        margin-bottom: 50px;
    }

    main > div:nth-child(2 of div.container) {
        margin-bottom: 90px;
    }

    main > div:nth-child(2 of div.container) h3 {
        margin-bottom: 24px;
    }
}
