nav .breadcrumb {
    margin-top: 41px;
    margin-bottom: 60px;
}

main>div:nth-child(2 of div.container) {
    margin-bottom: 65px;
}

main>div:nth-child(2 of div.container) h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    margin-bottom: 50px;
}

main>div:nth-child(2 of div.container) .row {
    margin: 0;
}

main>div:nth-child(2 of div.container) .col-12 {
    padding: 25px 25px 25px 20px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.purchase {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.purchase .img-fluid {
    margin-right: 30px;
    width: 75px;
    height: 100px;
}

.purchase .del {    
    margin-left: auto;
}

.purchase table {
    text-align: right;
    display: inline;
}

.purchase thead {
    color: #312D2D;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.purchase th {
    align-content: baseline;
    padding: 0;
    padding-bottom: 30px;
}

.purchase tbody {
    margin-top: auto;
    /* align-content: end; */
    /* align */
}

.purchase td {
    padding: 0;
    align-content: end;
}

.purchase th:nth-child(2),
.purchase td:nth-child(2) {
    width: 275px;
}

.purchase th:nth-child(3),
.purchase td:nth-child(3) {
    width: 233px;
}

.purchase th:nth-child(4),
.purchase td:nth-child(4) {
    width: 225px;
}

.purchase th:nth-child(5),
.purchase td:nth-child(5) {
    width: 173px;
}